@tailwind base;
@tailwind components;
@tailwind utilities;

/* antd overrides */
.ant-btn-primary:disabled {
  cursor: not-allowed;
  border-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.04) !important;
  box-shadow: none;
}

.ant-btn-primary {
  color: #fff;
  background-color: #1677ff !important;
  box-shadow: 0 2px 0 rgb(5 145 255 / 10%);
}
